target
.idea
*.iml
test-output
.DS_Store
*.png
configuration.properties
/src/test/java/com/esgc/api_demo/
*.prefs
.classpath
/CLIMATE/src/test/resources/upload/portfolio_repository/*
/personal-access-auth.properties
/src/test/resorces/environments/prod.properties